@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');


nav {
    padding: 16px;
    background-color: rgba(113, 113, 113, 0.276);
    font-family : Hina Mincho;
}

nav:hover {
    background-color: #000;
}

img {
    height: 200px;
    width: 200px
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #252525;
    color: antiquewhite;
    font-family : Hina Mincho;
}

main {
    padding: 16px;
}

.mainDetail {
    display: grid;
    text-align: center;
    align-content: center;
}

.detailSectionHolder {
    margin: auto;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgba(113, 113, 113, 0.276);
    text-indent: 15px;
    font-family : Hina Mincho;
    font-style: italic;
}

footer:hover {
    background-color: #000;
}

a {
    color: antiquewhite;
    text-decoration: none;
}

a:hover {
    background-color: rgba(113, 113, 113, 0.276);
}

h3 {
    width: 200px;
    text-align: center;
}

.recipesContainer {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px 225px;
    justify-content: center;
    
}

.headingContainer {
    text-align: center;
}

.singleRecipe {
    width: 200px;
}

tr:nth-child(even) {
    background-color: rgba(113, 113, 113, 0.276);
  }

table {
    border-width: 1px;
    border-style: dotted;
    text-align: left;
}

td {
    border: 1px solid #000;
    width: 100px;
    text-align: left;
  }
  td+td {
    width: 100px;
  }

.headText {
    text-decoration: underline;
}

.stepsList {
    border-width: 1px;
    border-style: dotted;
    width: 385px;
    text-align: left;
}

.italics {
    font-style: italic;
}